*{
    margin:0px;
    padding:0px;
    /* background-color: antiquewhite; */
    font:arial;
}
body{
    background-color: antiquewhite;

}


.main{
    width:260px;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 40%;
    box-shadow: 3px 2px 15px 2px rgb(117, 117, 117);
    padding:20px;
}
h3,p{
    text-align: center;
}
.images{
    background-color:#2853ff;
    padding:20px;
    border-radius:8px;

}
.card{
    display:flex;
    flex-direction:column;
    align-items: center;
}
h3{
    margin-top:15px;
    width:85%;
   
    
    
}
p{
    width:90%;
    margin:10px 0px;
    color:#a6a6a6;
    /* padding:8px 0 0 0px; */
}